
@model Building
@{
	Layout = "_Layout";
}

<form method="post" asp-controller="Building" asp-action="Create"> 
	 <script type="text/javascript">
            $(document).ready(function () {
                $('.fcdatepicker').datepicker({
                    changeMonth: true,
                    changeYear: true,
                    format: "dd/mm/yyyy",
                });
            });
        </script>
	<div class="container   p-5	">
	<div class="  ">
		<div class="row ">
			<h2 class="text-primary"> Building Details</h2>
			<hr />
		</div>
	
		@*<div asp-validation-summary="All"></div>*@
		<div class="row ">
		<div class="mb-3 col-sm-6">
			<label asp-for="Name"></label>
			<input asp-for="Name" class="form-control" />
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		</div>
		<div class="row ">
		<div class="mb-3 col-sm-6">
			<label asp-for="BuildingCode"></label>
			<input asp-for="BuildingCode" class="form-control" />
			<span asp-validation-for="BuildingCode" class="text-danger"></span>
		</div>
		</div>
		<div class="row ">
		<div class="mb-3 col-sm-6">
			<label asp-for="ContactPerson"></label>
			<input asp-for="ContactPerson" class="form-control" />
			<span asp-validation-for="ContactPerson" class="text-danger"></span>

				@*<select  asp-for="UserId" class="form-control"  asp-items='@(new SelectList(@ViewBag.users,"UserId","UserName"))'> </select>*@
		</div>
		@*<div class="mb-3">
			<label asp-for="RoleId"></label>
			<select  asp-for="RoleId" class="form-control"  asp-items='@(new SelectList(@ViewBag.Roles,"RoleId","RoleName"))'> </select>
			<span asp-validation-for="EmailID" class="text-danger"></span>
		</div>*@

		</div>
	
			<div class="row ">
		<div class="mb-3 col-sm-6">
			<label asp-for="Address"></label>
			<textarea  asp-for="Address" class="form-control"   rows="3" cols="40"></textarea>
			<span asp-validation-for="Address" class="text-danger"></span>
		</div>
		</div>
	<button type="submit" class="btn btn-primary" style="width:150px">Create</button>
		<a asp-controller="Building" asp-action="Index" class="btn btn-secondary" style="width:150px">
			Back to List
		</a>
	</div>
	</div>
</form>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}

}

