@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<label> Error Message:  @ViewBag.ErrorMessage</label>
<br/>
<label> Error URL:  @ViewBag.RouteOfException</label>

