@model Lead
@{
    Layout = "_Layout";
}

<form method="post" asp-controller="Lead" asp-action="Create">
    <script type="text/javascript">
        $(document).ready(function () {
            $('.fcdatepicker').datepicker({
                changeMonth: true,
                changeYear: true,
                format: "dd/mm/yyyy",
            });
        });
    </script>
    <div class="container   p-5	">
        <div class="  ">
            <div class="row ">
                <h2 class="text-primary"> Lead Details</h2>
                <hr />
            </div>

            @*<div asp-validation-summary="All"></div>*@
            <div class="row ">
                <div class="mb-3 col-sm-6">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="row ">
                <div class="mb-3 col-sm-6">
                    <label asp-for="EmailId"></label>
                    <input asp-for="EmailId" class="form-control" />
                    <span asp-validation-for="EmailId" class="text-danger"></span>
                </div>
                </div>
                <div class="row ">
                    <div class="mb-3 col-sm-6">
                        <label asp-for="MobileNo"></label>
                        <input asp-for="MobileNo" class="form-control" />
                        <span asp-validation-for="MobileNo" class="text-danger"></span>
                    </div>
                </div>
                <div class="row ">
                    <div class="mb-3 col-sm-6">
                        <label asp-for="BuildingId"></label>
           	<select  asp-for="BuildingId" class="form-control"  asp-items='@(new SelectList(@ViewBag.buildings,"BuildingId","Name"))'></select>
                        <span asp-validation-for="BuildingId" class="text-danger"></span>
                    </div>
                </div>
                <div class="row ">
                    <div class="mb-3 col-sm-6">
                        <label asp-for="LeadSource"></label>
                        <input asp-for="LeadSource" class="form-control" />
                        <span asp-validation-for="LeadSource" class="text-danger"></span>
                    </div>
                </div>
                <div class="row ">
                    <div class="mb-3 col-sm-6">
                        <label asp-for="LeadStatus"></label>
                        <input asp-for="LeadStatus" class="form-control" />
                        <span asp-validation-for="LeadStatus" class="text-danger"></span>
                    </div>
                </div>
                	<button type="submit" class="btn btn-primary" style="width:150px">Create</button>
		<a asp-controller="Lead" asp-action="Index" class="btn btn-secondary" style="width:150px">
			Back to List
		</a>
            </div>
        </div>
   
</form>

@section Scripts{
	@{
    <partial name="_ValidationScriptsPartial" />
	}

}

